{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block title %}Log In{% endblock title %}
{% block content %}
<div id="content" class="site-content">
  <div class="entry-content">
    <div class="container">
      <div class="boxed-content">
        <section class="wpb_row row-fluid section-padd">
          <div class="container">
            <div class="row">
              <div class="wpb_column column_container col-sm-12 col-md-7">
                <div class="column-inner">
                  <div class="wpb_wrapper">
                    <div class="section-head">
                      <h2 class="section-title">Invalid Login</h2>
                    </div>

                    <div class="empty_space_12">
                      <span class="empty_space_inner"></span>
                    </div>
                    <div
                      role="form"
                      class="wpcf7"
                      id="wpcf7-f1989-p967-o1"
                      lang="en-US"
                      dir="ltr"
                    >
                      <div class="screen-reader-response"></div>
                      <h3>You entered invalid login details.</h3>
                    </div>
                    <h5><a href="{% url 'login' %}">Back to Login page.</a></h5>
                    <div class="empty_space_30 lg-hidden">
                      <span class="empty_space_inner"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wpb_column column_container col-sm-12 col-md-5">
                <div class="column-inner">
                  <div class="wpb_wrapper">
                    <div
                      class="
                        wpb_single_image wpb_content_element
                        align_center
                      "
                    >
                      <figure class="wpb_wrapper figure">
                        <div class="single_image-wrapper box_border_grey">
                          <img
                            src="{% static 'images/login-img.png' %}"
                            class="single_image-img attachment-full"
                            alt=""
                          />
                        </div>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<!-- #content -->
{% endblock content %}
