{% extends 'base.html' %}
{% load static %}


{% block title %}Sign Up{% endblock title %}
{% block content %}
  <div id="content" class="site-content">
    <div class="entry-content">
      <div class="container">
        <div class="boxed-content">
          <section class="wpb_row row-fluid section-padd">
            <div class="container">
              <div class="row">
                <div class="wpb_column column_container">
                  <div class="column-inner">
                    <div class="wpb_wrapper">
                      <div class="section-head">
                        <h2 class="section-title text-center">Sign Up</h2>
                      </div>

                      <div class="empty_space_12">
                        <span class="empty_space_inner"></span>
                      </div>
                      <div
                        role="form"
                        class="wpcf7"
                        id="wpcf7-f1989-p967-o1"
                        lang="en-US"
                        dir="ltr"
                      >

                      
                        <div class="screen-reader-response"></div>
                        <form method="POST" action="." id="signup-form" class="wpcf7-form">
                          {% csrf_token %}
                          <div class="row">
                            <div class="col-md-6">
                              <span class="wpcf7-form-control-wrap your-fname">
                                {{ form.first_name }}
                              </span>
                            </div>
                            <div class="col-md-6">
                              <span class="wpcf7-form-control-wrap your-lname">
                              {{ form.last_name }}
                            </span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <span class="wpcf7-form-control-wrap your-phone">
                                {{ form.phone_number }}
                              </span>
                            </div>
                            <div class="col-md-6">
                              <span class="wpcf7-form-control-wrap your-email">
                                {{ form.email }}
                              </span>
                            </div>
                            <div class="col-md-6">
                              <span
                                class="
                                  wpcf7-form-control-wrap
                                  your-password
                                "
                                >{{ form.password1 }}</span>
                            </div>
                            <div class="col-md-6">
                              <span
                                class="
                                  wpcf7-form-control-wrap
                                  your-password
                                "
                                >{{ form.password2 }}</span>
                            </div>
                            <div class="col-md-6">
                              <span
                                class="
                                  wpcf7-form-control-wrap
                                  your-password
                                "
                              >
                                <input type="checkbox" name="signup-term" />
                                <span>
                                  I accept and agree with the terms of the
                                  <a href="{% url 'terms' %}"
                                    >Terms of Service</a
                                  ></span
                                ></span
                              >
                            </div>
                          </div>
                          <button class="btn" type="submit">SIGN UP</button>
                          <br />
                          <div>
                            <p>
                              Already registered?
                              <a href="{% url 'login' %}"> Login here</a>
                            </p>
                          </div>
                        </form>
                      </div>
                      <div class="empty_space_30 lg-hidden">
                        <span class="empty_space_inner"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- #content -->
{% endblock content %}
