{% extends 'base.html' %}
{% load static %}


{% block content %}
 <div id="content" class="site-content">
        <div class="page-header">
          <div class="container">
            <div class="breadc-box no-line">
              <div class="row">
                <div class="col-md-6">
                  <h1 class="page-title">About Us</h1>
                </div>
                <div class="col-md-6 mobile-left text-right">
                  <ul id="breadcrumbs" class="breadcrumbs none-style">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="active">About Us</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="entry-content">
          <div class="container">
            <div class="boxed-content">
              <section class="wpb_row row-fluid section-padd">
                <div class="container">
                  <div class="row">
                    <div class="wpb_column column_container col-sm-12">
                      <div class="column-inner">
                        <div class="wpb_wrapper">
                          <div class="section-head">
                            <h6><span>ABOUT US</span></h6>
                            <h2 class="section-title">We are Aviatorbit</h2>
                          </div>

                          <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                              <p>
                                Aviatorbit is an online investment firm. With
                                the world moving to crypto currency, and a
                                decentralized way of sending funds, it is from
                                that standpoint that we have availed investment
                                plans that allow you to earn a passive income
                                from your investment. We have created and tested
                                a strategy for crypto market trading that works
                                best with major cryptocurrencies: Bitcoin,
                                Etherium, Litecoin, etc. We specialize in these
                                coins to minimise the risk of investment,
                                allowing you enjoy as much profit as you can by
                                utilizing our experience and services.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section class="wpb_row row-fluid pb-20">
                <div class="container">
                  <div class="row">
                    <div class="wpb_column column_container col-sm-12">
                      <div class="column-inner">
                        <div class="wpb_wrapper">
                          <div class="section-head">
                            <h6><span>What do we do?</span></h6>
                            <h2 class="section-title">
                              Our Mission and Values
                            </h2>
                          </div>

                          <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                              <p>
                                We earned more than 2500% profit in just five
                                months, and we thought it would be an excellent
                                idea to share with others. You can buy as many
                                plans as possible and we will give you stable
                                profits every day. Our strategies are calculated
                                to assure profitable trades and value for
                                investment - we guarantee stable investment and
                                real benefits.
                              </p>
                              <br />
                              <p>
                                While numerous trading platforms are claiming to
                                work magic, Aviatorbit is built on a new
                                technology that provides opportunities for
                                investors to venture into cyptocurency trading
                                from all over the world without trading
                                difficulties, additional knowledge, and risk.
                                Cypto trading is empowering people to achieve
                                their dreams and claim their financial freedom.
                              </p>
                              <br />
                              <br />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section
                class="
                  wpb_row
                  row-fluid
                  mobile-padd
                  section-counto
                  row-has-fill
                "
              >
                <div class="container">
                  <div class="row">
                    <div class="wpb_column column_container col-sm-12">
                      <div class="column-inner">
                        <div class="wpb_wrapper">
                          <div class="section-head text-light">
                            <h6><span>achievements &amp; statistics</span></h6>
                            <h2 class="section-title">Our operations</h2>
                          </div>

                          <div class="empty_space_12"></div>
                        </div>
                      </div>
                    </div>
                    <div class="wpb_column column_left col-sm-4">
                      <div class="column-inner">
                        <div class="wpb_wrapper">
                          <div class="fun-facts bg-light">
                            <div class="icon-fact">
                              <i
                                class="
                                  ion
                                  ion-md-ion
                                  ion-ios-people
                                  ion-logo-ion
                                  ion-ios-people
                                "
                              ></i>
                            </div>
                            <h4>
                              <span
                                class="number text-primary bolder"
                                data-to="350"
                                data-speed="2000"
                                >27713</span
                              >
                              <span class="bolder text-primary">clients</span>
                              in the world
                            </h4>
                          </div>

                          <div class="empty_space_30 lg-hidden md-hidden"></div>
                        </div>
                      </div>
                    </div>
                    <div class="wpb_column column_mid col-sm-4">
                      <div class="column-inner">
                        <div class="wpb_wrapper">
                          <div class="fun-facts bg-light">
                            <div class="icon-fact">
                              <i
                                class="
                                  ion
                                  ion-md-ion
                                  ion-ios-send
                                  ion-logo-ion
                                  ion-ios-send
                                "
                              ></i>
                            </div>
                            <h4>
                              <span
                                class="number text-primary bolder"
                                data-to="1080"
                                data-speed="2000"
                                >$5,092,204</span
                              >
                              <span class="bolder text-primary">Deposits</span>
                            </h4>
                          </div>

                          <div class="empty_space_30 lg-hidden md-hidden"></div>
                        </div>
                      </div>
                    </div>
                    <div class="wpb_column column_right col-sm-4">
                      <div class="column-inner">
                        <div class="wpb_wrapper">
                          <div class="fun-facts bg-light">
                            <div class="icon-fact">
                              <i
                                class="
                                  ion
                                  ion-md-ion
                                  ion-ios-wallet
                                  ion-logo-ion
                                  ion-ios-wallet
                                "
                              ></i>
                            </div>
                            <h4>
                              <span
                                class="number text-primary bolder"
                                data-to="52"
                                data-speed="2000"
                                >$3,232,145</span
                              >
                              <span class="bolder text-primary"
                                >Withdrawals</span
                              >
                            </h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <!-- #content -->

{% endblock content %}