{% load static %}
    <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Aviatorbit</title>

    <link
      rel="stylesheet"
      id="bootstrap-css"
      href="{% static 'css/bootstrap.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="awesome-font-css"
      href="{% static 'css/font-awesome.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ionicon-font-css"
      href="{% static 'css/ionicon.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="slick-slider-css"
      href="{% static 'css/slick.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="slick-theme-css"
      href="{% static 'css/slick-theme.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="consultax-style-css"
      href="{% static 'css/style.css' %}"
      type="text/css"
      media="all"
    />

    <!-- RS5.0 Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/settings.css'%}  " />

    <!-- RS5.0 Layers and Navigation Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/layers.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'revolution/css/navigation.css' %}"
    />

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  </head>
  <body class="royal_preloader">
    <div id="page" class="site">
      <header
        id="site-header"
        class="site-header mobile-header-blue header-style-1"
      >
        <!-- Top bar close -->

        <!-- Main header start -->
        <div class="main-header md-hidden sm-hidden">
          <div class="main-header-top">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-wrap-table">
                    <div
                      id="site-logo"
                      class="site-logo col-media-left col-media-middle"
                    >
                      <a href="{% url 'home' %}">
                        <img
                          class="logo-static"
                          src="{% static 'images/logo-white.svg' %}"
                          alt="Consultax"
                        />
                        <img
                          class="logo-scroll"
                          src="{% static 'images/logo-white.svg' %}"
                          alt="Consultax"
                        />
                      </a>
                    </div>
                    <div class="col-media-body col-media-middle">
                      <!-- contact info -->
                      <ul class="info-list info_on_right_side fright">
                        <li>
                          <span
                            >Address:
                            <strong
                              >333 Fremont Street, <br />San Fransisco,
                              California,94105
                            </strong></span
                          >
                        </li>
                      </ul>
                      <!-- contact info close -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="main-header-bottom">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="header-mainnav">
                    <div class="search-cart-box fright">
                      <div class="h-cart-btn fright">
                        <a href="{% url 'signup' %}" class="btn"> Get Started</a>
                      </div>
                    </div>
                    <div id="site-navigation" class="main-navigation fleft">
                      <ul id="primary-menu" class="menu">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li><a href="{% url 'how-it-works' %}">How It Works</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                      </ul>
                    </div>
                    <!-- #site-navigation -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Main header close -->
        <div class="header_mobile">
          <div class="mlogo_wrapper clearfix">
            <div class="mobile_logo">
              <a href="#"
                ><img src="{% static 'images/logo-white.svg' %}" alt="Consultax"
              /></a>
            </div>
            <div id="mmenu_toggle">
              <button></button>
            </div>
          </div>
          <div class="mmenu_wrapper">
            <div class="mobile_nav collapse">
              <ul id="menu-main-menu" class="mobile_mainmenu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <!-- <li><a href="services.html">Services</a></li> -->
                <li><a href="{% url 'how-it-works' %}">How It Works</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'login' %}" class="btn">Get started</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <!-- #site-header -->

  <body>
    {% block content %}


    {% endblock content %}


    <footer id="site-footer" class="site-footer bg-second">
      <div class="main-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-5 col-sm-6">
              <div id="media_image-1" class="widget widget_media_image">
                <a href="{% url 'home' %}"
                  ><img src="{% static 'images/logo-white.svg' %}" alt=""
                /></a>
              </div>
              <div
                id="custom_html-1"
                class="widget_text widget widget_custom_html"
              >
                <div class="textwidget custom-html-widget">
                  <p>
                    With over 1000+ investors, we are focused on creating the
                    best customer experiencewe and investment plans we can.
                  </p>
  
                  <p>
                    <a href="{% url 'about' %}" class="pagelink gray">About us</a>
                  </p>
                </div>
              </div>
            </div>
                    <!-- end col-lg-3 -->

                    <div class="col-md-4 col-sm-6">
                      <section
                        id="custom_html-3"
                        class="widget_text widget widget_custom_html padding-left"
                      >
                        <h4 class="widget-title">Company</h4>
                        <div class="textwidget custom-html-widget">
                          <ul class="padd-left">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'how-it-works' %}">How it works</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                          </ul>
                        </div>
                      </section>
                    </div>
                    <!-- end col-lg-3 -->
      
                    <div class="col-md-3 col-sm-6">
                      <section
                        id="mc4wp_form_widget-1"
                        class="widget widget_mc4wp_form_widget"
                      >
                        <h4 class="widget-title">Subscribe</h4>
                        <!-- Mailchimp for WordPress v4.5.2 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                        <form
                          id="mc4wp-form-1"
                          class="mc4wp-form mc4wp-form-1696"
                          method="post"
                          data-id="1696"
                          data-name="Consultax Subscribe"
                        >
                          {% csrf_token %}
                          <div class="mc4wp-form-fields">
                            <div class="footer-sub">
                              <input
                                type="text"
                                name="NAME"
                                placeholder="Name"
                                required=""
                              />
                              <input
                                type="email"
                                name="EMAIL"
                                placeholder="Email Address"
                                required=""
                              />
                              <input type="submit" class="btn" value="Subscribe" />
                            </div>
                          </div>
                          <input
                            type="hidden"
                            name="_mc4wp_timestamp"
                            value="1560227031"
                          />
                          <input type="hidden" name="_mc4wp_form_id" value="1696" />
                          <input
                            type="hidden"
                            name="_mc4wp_form_element_id"
                            value="mc4wp-form-1"
                          />
                          <div class="mc4wp-response"></div>
                        </form>
                        <!-- / Mailchimp for WordPress Plugin -->
                      </section>
                    </div>
                    <!-- end col-lg-3 -->
                  </div>
                </div>
              </div>
              <!-- .main-footer -->
              <div class="footer-bottom">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="footer-copyright">
                        © 2021 Aviatorbit. All Rights Reserved
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="footer-nav text-right mobile-center">
                        <ul id="footer-menu" class="none-style">
                          <li><a href="{% url 'terms' %}">Terms and Conditions</a></li>
                          <li><a href="{% url 'faq' %}">FAQs</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- .copyright-footer -->
              <a id="back-to-top" href="#" class="show"></a>
            </footer>
            <!-- #site-footer -->
          </div>
      
          <script type="text/javascript" src=" {% static 'js/jquery.min.js' %}"></script>
          <script type="text/javascript" src=" {% static 'js/countto.min.js' %}"></script>
          <script type="text/javascript" src=" {% static 'js/jquery.isotope.min.js'%}"></script>
          <!-- <script type="text/javascript" src="js/royal_preloader.min.js"></script> -->
          <script type="text/javascript" src="{% static 'js/slick.min.js '%}"></script>
          <script type="text/javascript" src="{% static ' js/scripts.js'%}"></script>
          <script type="text/javascript" src="{% static 'js/header-footer.js' %}"></script>
      
          <script
            type="text/javascript"
            src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"
          ></script>
          <script
            type="text/javascript"
            src="{% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"
          ></script>
          <!-- RS5.0 Extensions Files -->
          <script
            type="text/javascript"
            src="{% static 'revolution/js/extensions/revolution.extension.video.min.js' %}"
          ></script>
          <script
            type="text/javascript"
            src="{% static 'revolution/js/extensions/revolution.extension.slideanims.min.js' %}"
          ></script>
          <script
            type="text/javascript"
            src="{% static 'revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"
          ></script>
          <script
            type="text/javascript"
            src="{% static 'revolution/js/extensions/revolution.extension.navigation.min.js' %}"
          ></script>
          <script
            type="text/javascript"
            src="{% static 'revolution/js/extensions/revolution.extension.actions.min.js' %}"
          ></script>
          <script
            type="text/javascript"
            src="{% static 'revolution/js/extensions/revolution.extension.kenburn.min.js' %}"
          ></script>
          <script
            type="text/javascript"
            src="{% static 'revolution/js/extensions/revolution.extension.migration.min.js' %}"
          ></script>
          <script
            type="text/javascript"
            src="{% static 'revolution/js/extensions/revolution.extension.parallax.min.js' %}"
          ></script>
          <script>
            jQuery(document).ready(function () {
              jQuery("#revolution-slider").revolution({
                sliderType: "standard",
                delay: 7500,
                navigation: {
                  arrows: { enable: true },
                },
                spinner: "off",
                gridwidth: 1170,
                gridheight: 700,
                disableProgressBar: "on",
                responsiveLevels: [1920, 1229, 991, 480],
                gridwidth: [1170, 970, 750, 450],
                gridheight: [700, 700, 700, 700],
              });
            });
          </script>

    <script type="text/javascript">
      window.$crisp = [];
      window.CRISP_WEBSITE_ID = "bcbdd2b0-95b9-497a-bbc2-1b602c8040f5";
      (function () {
        d = document;
        s = d.createElement("script");
        s.src = "https://client.crisp.chat/l.js";
        s.async = 1;
        d.getElementsByTagName("head")[0].appendChild(s);
      })();
    </script>
  </body>
</html>
