{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="content" class="site-content">
        <div class="page-header">
          <div class="container">
            <div class="breadc-box no-line">
              <div class="row">
                <div class="col-md-6">
                  <h1 class="page-title">Contact Us</h1>
                </div>
                <div class="col-md-6 mobile-left text-right">
                  <ul id="breadcrumbs" class="breadcrumbs none-style">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="active">Contact Us</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="entry-content">
          <div class="container">
            <div class="boxed-content">
              <section class="wpb_row row-fluid section-padd no-bot">
                <div class="container">
                  <div class="row">
                    <div class="wpb_column column_container col-sm-12 col-md-9">
                      <div class="column-inner">
                        <div class="wpb_wrapper">
                          <div class="section-head">
                            <h6><span>US Office</span></h6>
                            <h2 class="section-title">
                              333 Fremont Street, San Fransisco, California,
                              94105
                            </h2>
                          </div>

                          <div class="empty_space_12">
                            <span class="empty_space_inner"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="wpb_column column_container col-sm-12 col-md-8">
                      <div class="column-inner">
                        <div class="wpb_wrapper">
                          <div
                            class="
                              wpb_text_column wpb_content_element
                              contact-info
                            "
                          >
                            <div class="wpb_wrapper">
                              <p>
                                <a href="mailto:info@aviatorbit.com"
                                  ><i class="fa fa-envelope">
                                    support@aviatorbit.com</i
                                  ></a
                                >
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>                    
                    <div class="wpb_column column_container col-sm-12 col-md-4">
                      <div class="column-inner">
                        <div class="wpb_wrapper">
                          <div
                            class="
                              wpb_text_column wpb_content_element
                              socials
                              text-right
                              md-hidden
                              sm-hidden
                            "
                          ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section class="wpb_row row-fluid section-padd no-bot">
                <div class="container">
                  <div class="row">
                    <div class="wpb_column column_container col-sm-12">
                      <div class="column-inner">
                        <div class="wpb_wrapper">
                          <div class="gray-line"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section class="wpb_row row-fluid section-padd">
                <div class="container">
                  <div class="row">
                    <div class="wpb_column column_container col-sm-12 col-md-7">
                      <div class="column-inner">
                        <div class="wpb_wrapper">
                          <div class="section-head">
                            <h6><span>CONTACT FORM</span></h6>
                            <h2 class="section-title">How can we help</h2>
                          </div>

                          <div class="empty_space_12">
                            <span class="empty_space_inner"></span>
                          </div>
                          <div
                            role="form"
                            class="wpcf7"
                            id="wpcf7-f1989-p967-o1"
                            lang="en-US"
                            dir="ltr"
                          >
                            <div class="screen-reader-response"></div>
                            <form action="." method="POST" class="wpcf7-form">
                              {% csrf_token %}
                              <div class="row">
                                <div class="col-md-6">
                                  <span
                                    class="wpcf7-form-control-wrap your-fname"
                                    ><input
                                      type="text"
                                      name="your-fname"
                                      value=""
                                      size="40"
                                      class="wpcf7-form-control"
                                      required=""
                                      placeholder="First Name"
                                  /></span>
                                </div>
                                <div class="col-md-6">
                                  <span
                                    class="wpcf7-form-control-wrap your-lname"
                                    ><input
                                      type="text"
                                      name="your-lname"
                                      value=""
                                      size="40"
                                      class="wpcf7-form-control"
                                      required=""
                                      placeholder="Last Name"
                                  /></span>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <span
                                    class="wpcf7-form-control-wrap your-phone"
                                    ><input
                                      type="text"
                                      name="your-phone"
                                      value=""
                                      size="40"
                                      class="wpcf7-form-control"
                                      placeholder="Phone Number"
                                  /></span>
                                </div>
                                <div class="col-md-6">
                                  <span
                                    class="wpcf7-form-control-wrap your-email"
                                    ><input
                                      type="email"
                                      name="your-email"
                                      value=""
                                      size="40"
                                      class="wpcf7-form-control"
                                      required=""
                                      placeholder="Email Address"
                                  /></span>
                                </div>
                              </div>
                              <div class="contact-mess">
                                <span
                                  class="wpcf7-form-control-wrap your-message"
                                >
                                  <textarea
                                    name="your-message"
                                    cols="40"
                                    rows="10"
                                    class="wpcf7-form-control"
                                    required=""
                                    placeholder="Message"
                                  ></textarea>
                                </span>
                              </div>
                              <p>
                                <button type="submit"
                                  value="SUBMIT"
                                  class="wpcf7-form-control wpcf7-submit btn">SUBMIT</button>
                                  
                              </p>
                            </form>
                          </div>
                          <div class="empty_space_30 lg-hidden">
                            <span class="empty_space_inner"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="wpb_column column_container col-sm-12 col-md-5">
                      <div class="column-inner">
                        <div class="wpb_wrapper">
                          <div
                            class="
                              wpb_single_image wpb_content_element
                              align_center
                            "
                          >
                            <figure class="wpb_wrapper figure">
                              <div class="single_image-wrapper box_border_grey">
                                <img
                                  src="{% static 'images/contact-img.png' %}"
                                  class="single_image-img attachment-full"
                                  alt=""
                                />
                              </div>
                            </figure>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <!-- #content -->
{% endblock content %}