{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="content" class="site-content">
        <div class="page-header">
          <div class="container">
            <div class="breadc-box no-line">
              <div class="row">
                <div class="col-md-6">
                  <h1 class="page-title">Contact Us</h1>
                </div>
                <div class="col-md-6 mobile-left text-right">
                  <ul id="breadcrumbs" class="breadcrumbs none-style">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="active">Contact Us</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="entry-content">
          <div class="container">
            <div class="boxed-content">
              <section class="wpb_row row-fluid section-padd no-bot">
                <div class="container">
                  <div class="row">
                    <div class="wpb_column column_container col-sm-12 col-md-9">
                      <div class="column-inner">
                        <div class="wpb_wrapper">
                          <div class="section-head">
                            <h6><span>CONTACT FORM</span></h6>
                            <h5>Your ticket has been sent. We will be in touch.</h5>

                          </div>

                          <div class="empty_space_12">
                            <span class="empty_space_inner"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="wpb_column column_container col-sm-12 col-md-8">
                      <div class="column-inner">
                        <div class="wpb_wrapper">
                          <div
                            class="
                              wpb_text_column wpb_content_element
                              contact-info
                            "
                          >
                            
                          </div>
                        </div>
                      </div>
                    </div>                    
                    <div class="wpb_column column_container col-sm-12 col-md-4">
                      <div class="column-inner">
                        <div class="wpb_wrapper">
                          <div
                            class="
                              wpb_text_column wpb_content_element
                              socials
                              text-right
                              md-hidden
                              sm-hidden
                            "
                          ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section class="wpb_row row-fluid section-padd no-bot">
                <div class="container">
                  <div class="row">
                    <div class="wpb_column column_container col-sm-12">
                      <div class="column-inner">
                        <div class="wpb_wrapper">
                          <div class="gray-line"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <!-- #content -->
{% endblock content %}