﻿{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="{% static 'images/favicon.png' %}" />

    <title>Deposit | Aviatorbit Dashboard</title>

    <!-- Bootstrap 4.0-->
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor_components/bootstrap/dist/css/bootstrap.css' %}"
    />

    <!-- Bootstrap extend-->
    <link rel="stylesheet" href="{% static 'css/bootstrap-extend.css' %}" />

    <!-- theme style -->
    <link rel="stylesheet" href="{% static 'css/master_style.css' %}" />

    <!-- Superieur Admin skins -->
    <link rel="stylesheet" href="{% static 'css/skins/_all-skins.css' %}" />

    <!--amcharts -->
    <link
      href="https://www.amcharts.com/lib/3/plugins/export/export.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- daterange picker -->
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor_components/bootstrap-daterangepicker/daterangepicker.css' %}"
    />
  </head>

  <body class="hold-transition skin-info-light sidebar-mini">
    <div class="wrapper">
      <header class="main-header">
        <!-- Logo -->
        <a href="{% url 'dashboard-home' %}" class="logo">
          <!-- mini logo -->
          <div class="logo-mini">
            <span class="light-logo"
              ><img src="{% static 'images/favicon.png' %}" alt="logo"
            /></span>
            <span class="dark-logo"
              ><img src="{% static 'images/favicon.png' %}" alt="logo"
            /></span>
          </div>
          <!-- logo-->
          <div class="logo-lg">
            <span class="light-logo"
              ><img src="{% static 'images/logo.png' %}" alt="logo"
            /></span>
            <span class="dark-logo"
              ><img src="{% static 'images/logo.png' %}" alt="logo"
            /></span>
          </div>
        </a>
        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top">
          <!-- Sidebar toggle button-->
          <div>
            <a
              href="#"
              class="sidebar-toggle"
              data-toggle="push-menu"
              role="button"
            >
              <span class="sr-only">Toggle navigation</span>
            </a>
          </div>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- User Account-->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Hello, {{ user.email }}
                  <img
                    src="{% static 'images/avatar/7.jpg' %}"
                    class="user-image rounded-circle"
                    alt="User Image"
                  />
                </a>
                <!-- <ul class="dropdown-menu animated flipInY mr-15">
                  Menu Body
                  <li class="user-body">
                    <a class="dropdown-item" href="{% url 'user-profile' %}"
                      ><i class="ion ion-person"></i> My Profile</a
                    >
                    <a class="dropdown-item" href="{% url 'dashboard-my-deposits' %}"
                      ><i class="ion ion-bag"></i> My Deposits</a
                    >
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}"
                      ><i class="ion-log-out"></i> Logout</a
                    >
                  </li>
                </ul> -->
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar bg-white">
        <!-- sidebar-->
        <section class="sidebar pt-30">
          <!-- sidebar menu-->
          <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview">
              <a href="#">
                <i class="mdi mdi-view-dashboard"></i>
                <span>Dashboard</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li>
                  <a href="{% url 'dashboard-home' %}"
                    ><i class="mdi mdi-toggle-switch-off"></i>Overview</a
                  >
                </li>
              </ul>
            </li>

            <li class="treeview active">
              <a href="#">
                <i class="mdi mdi-send"></i>
                <span>Transactions</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li class="active">
                  <a href="{% url 'dashboard-my-deposits' %}"
                    ><i class="mdi mdi-toggle-switch-off"></i>My Deposits</a
                  >
                </li>
                <li>
                  <a href="{% url 'dashboard-withdraw' %}"
                    ><i class="mdi mdi-toggle-switch-off"></i>My Withdrawals</a
                  >
                </li>
              </ul>
            </li>

            <li class="treeview">
              <a href="#">
                <i class="mdi mdi-chart-bar"></i>
                <span>Investment </span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li>
                  <a href="{% url 'dashboard-plans' %}"
                    ><i class="mdi mdi-toggle-switch-off"></i>Buy Packages
                  </a>
                </li>
                <li>
                  <a href="{% url 'dashboard-myplans' %}"
                    ><i class="mdi mdi-toggle-switch-off"></i>My Packages
                  </a>
                </li>
              </ul>
            </li>

            <li class="treeview">
              <a href="#">
                <i class="mdi mdi-help-circle"></i>
                <span>Support </span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li>
                  <a href="{% url 'dashboard-help' %}"
                    ><i class="mdi mdi-toggle-switch-off"></i>Help
                  </a>
                </li>
              </ul>
            </li>

            <li>
              <a href="{% url 'logout' %}">
                <i class="mdi mdi-directions"></i>
                <span>Log Out</span>
              </a>
            </li>
          </ul>
        </section>
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="d-flex align-items-center">
            <div class="mr-auto w-p50">
              <h3>New Deposit</h3>
            </div>
            <div class="right-title w-170">
              <a href="{% url 'dashboard-plans' %}" class="btn btn-info">Quick Invest</a>
            </div>
          </div>
        </div>

        <!-- Main content -->
        <section class="content">
          <!-- TradingView Widget BEGIN -->
          <div class="box">
            <div class="tradingview-widget-container">
              <div class="tradingview-widget-container__widget"></div>

              <script
                type="text/javascript"
                src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
                async
              >
                {
                  "symbols": [{
                      "title": "EUR/USD",
                      "proName": "FX_IDC:EURUSD"
                    },
                    {
                      "title": "BTC/USD",
                      "proName": "BITSTAMP:BTCUSD"
                    },
                    {
                      "title": "ETH/USD",
                      "proName": "BITSTAMP:ETHUSD"
                    },
                    {
                      "description": "LTC/USD",
                      "proName": "KRAKEN:LTCUSD"
                    },
                    {
                      "description": "DOGE/USD",
                      "proName": "BITTREX:DOGEUSD"
                    },
                    {
                      "description": "BCH/USD",
                      "proName": "KRAKEN:BCHUSD"
                    }
                  ],
                  "colorTheme": "light",
                  "isTransparent": false,
                  "displayMode": "compact",
                  "locale": "en"
                }
              </script>
            </div>
          </div>
          <!-- latest transactions  -->
          <div class="container">
            <div class="row d-flex justify-content-center">
              <div class="col-12 col-lg-6">
                <div class="box">
                  <div class="box-header with-border">
                    <h3 class="box-title">Deposit</h3>
                  </div>

                  <div class="box-body tab-content p-0">
                    <!-- Nav tabs -->
                    <ul
                      class="nav nav-tabs nav-pill nav-justified"
                      role="tablist"
                    >
                      <li class="nav-item">
                        <a
                          class="nav-link active no-radius"
                          data-toggle="tab"
                          href="#BTC"
                          role="tab"
                          >BTC</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link no-radius"
                          data-toggle="tab"
                          href="#ETH"
                          role="tab"
                          >ETH</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link no-radius"
                          data-toggle="tab"
                          href="#LTC"
                          role="tab"
                          >LTC</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link no-radius"
                          data-toggle="tab"
                          href="#ADA"
                          role="tab"
                          >ADA</a
                        >
                      </li>
                    </ul>
                  </div>
                  <div class="box-body tab-content bg-light">
                    <div class="tab-pane fade active show" id="BTC">
                      <form method="POST" class="p-20">
                        {% csrf_token %}
                        {{form}}
                        
                        <div class="form-group">
                          <label
                            >Please make your deposit to this Bitcoin Wallet
                            address</label
                          >
                          <br />

                          {% for wallets in wallet %}
                          <label> <b>{{wallets.btc_payment_address}} kiytfk</b> </label>
                          <br />
                          <br />

                            <img src="{{ wallets.btc_payment_barcode.url }}" style="width: 50; height: 50;" alt="btc-barcode" />
                          {% endfor %}
                        </div>

                        <div class="checkbox">
                          <input type="checkbox" id="basic_checkbox_1" />
                          <label for="basic_checkbox_1"
                            >I agree that I have sent the above amount to the
                            Bitcoin account above.</label
                          >
                        </div>
                        <div class="text-center mt-20 mb-20">
                          <button type="submit" class="btn btn-info">Deposit</button>
                        </div>
                      </form>
                    </div>
                    <div class="tab-pane fade" id="ETH">
                      <form action="" method="POST" class="p-20">
                        {% csrf_token %}
                        {{form}}
                        
                        <div class="form-group">
                          <label
                            >Please make your deposit to this Etherium Wallet
                            address</label
                          >
                          <br />
                          {% for wallets in wallet %}
                          <label> <b>{{wallets.eth_payment_address}}</b> </label>
                          <br />
                          <br />
                          <img src="{{ wallets.eth_payment_barcode.url }}" style="height: 50; width: 50;" alt="eth-barcode" />
                          {% endfor %}
                        </div>

                        <div class="checkbox">
                          <input type="checkbox" id="basic_checkbox_1" />
                          <label for="basic_checkbox_1"
                            >I agree that I have sent the above amount to the
                            Etherium account above.</label
                          >
                        </div>
                        <div class="text-center mt-20 mb-20">
                          <button type="submit" class="btn btn-info">Deposit</button>
                        </div>
                      </form>
                    </div>
                    <div class="tab-pane fade" id="LTC">
                      <form action="" method="POST" class="p-20">
                        {% csrf_token %}
                        {{form}}
                        <div class="form-group">
                          <label
                            >Please make your deposit to this Litecoin Wallet
                            address</label
                          >
                          <br />
                          {% for wallets in wallet %}
                          <label> <b>{{wallets.ltc_payment_address}}</b> </label>
                        </br>
                      </br>
                          <img src="{{ wallets.ltc_payment_barcode.url }}" style="height: 50; width: 50;" alt="ltc-barcode" />
                          {% endfor %}
                        </div>

                        <div class="checkbox">
                          <input type="checkbox" id="basic_checkbox_1" />
                          <label for="basic_checkbox_1"
                            >I agree that I have sent the above amount to the
                            Litecoin account above.</label
                          >
                        </div>
                        <div class="text-center mt-20 mb-20">
                          <button type="submit" class="btn btn-info">Deposit</button>
                        </div>
                      </form>
                    </div>
                    <div class="tab-pane fade" id="ADA">
                      <form action="" method="POST" class="p-20">
                        {% csrf_token %}
                        {{form}}
                        <div class="form-group">
                          <label
                            >Please make your deposit to this Cardano Wallet
                            address</label
                          >
                          <br />
                          {% for wallets in wallet %}
                            <label> <b>{{wallets.ada_payment_address}}</b> </label>
                          </br>
                        </br>
                            <img src="{{ wallets.ada_payment_barcode.url }}" style="height: 50; width: 50;" alt="ada-barcode" />
                         {% endfor %}
                        </div>

                        <div class="checkbox">
                          <input type="checkbox" id="basic_checkbox_1" />
                          <label for="basic_checkbox_1"
                            >I agree that I have sent the above amount to the
                            Cardano account above.</label
                          >
                        </div>
                        <div class="text-center mt-20 mb-20">
                          <button type="submit" class="btn btn-info">Deposit</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- /.box -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="pull-right d-none d-sm-inline-block">
          <ul
            class="
              nav nav-primary nav-dotted nav-dot-separated
              justify-content-center justify-content-md-end
            "
          ></ul>
        </div>
        &copy; 2021 Aviatorbit. All Rights Reserved.
      </footer>
    </div>
    <!-- ./wrapper -->

    <!-- jQuery 3 -->
    <script src="{% static 'assets/vendor_components/jquery-3.3.1/jquery-3.3.1.js' %}"></script>

    <!-- popper -->
    <script src="{% static 'assets/vendor_components/popper/dist/popper.min.js' %}"></script>

    <!-- date-range-picker -->
    <script src="{% static 'assets/vendor_components/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'assets/vendor_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

    <!-- Bootstrap 4.0-->
    <script src="{% static 'assets/vendor_components/bootstrap/dist/js/bootstrap.js' %}"></script>

    <!--amcharts charts -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

    <!-- Slimscroll -->
    <script src="{% static 'assets/vendor_components/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

    <!-- echarts -->
    <script src="{% static 'assets/vendor_components/echarts/dist/echarts-en.min.js' %}"></script>
    <script src="{% static 'assets/vendor_components/echarts/echarts-liquidfill.min.js' %}"></script>

    <!-- FastClick -->
    <script src="{% static 'assets/vendor_components/fastclick/lib/fastclick.js' %}"></script>

    <!-- webticker -->
    <script src="{% static 'assets/vendor_components/Web-Ticker-master/jquery.webticker.min.js' %}"></script>

    <!-- Superieur Admin App -->
    <script src="{% static 'js/template.js' %}"></script>

    <!-- Superieur Admin dashboard demo (This is only for demo purposes) -->
    <script src="{% static 'js/pages/dashboard3.js' %}"></script>
    <script src="{% static 'js/pages/dashboard-chart.js' %}"></script>

    <!-- Superieur Admin for demo purposes -->
    <script src="{% static 'js/demo.js' %}"></script>
  </body>
</html>
