{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>FAQs | Aviatorbit</title>

    <link
      rel="stylesheet"
      id="bootstrap-css"
      href="{% static 'css/bootstrap.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="awesome-font-css"
      href="{% static 'css/font-awesome.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ionicon-font-css"
      href="{% static 'css/ionicon.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="slick-slider-css"
      href="{% static 'css/slick.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="slick-theme-css"
      href="{% static 'css/slick-theme.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="consultax-style-css"
      href="{% static 'css/style.css' %}"
      type="text/css"
      media="all"
    />

    <!-- RS5.0 Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/settings.css' %}" />

    <!-- RS5.0 Layers and Navigation Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/layers.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'revolution/css/navigation.css' %}"
    />

    <link rel="shortcut icon" href="{% static 'favicon.png' %}" />
  </head>
  <body class="">
    <div id="page" class="site">
      <header
        id="site-header"
        class="site-header mobile-header-blue header-style-1"
      >
        <!-- Top bar close -->

        <!-- Main header start -->
        <div class="main-header md-hidden sm-hidden">
          <div class="main-header-top">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-wrap-table">
                    <div
                      id="site-logo"
                      class="site-logo col-media-left col-media-middle"
                    >
                      <a href="{% url 'home' %}">
                        <img
                          class="logo-static"
                          src="{% static 'images/logo-white.svg' %}"
                          alt="Consultax"
                        />
                        <img
                          class="logo-scroll"
                          src="{% static 'images/logo-white.svg' %}"
                          alt="Consultax"
                        />
                      </a>
                    </div>
                    <div class="col-media-body col-media-middle">
                      <!-- contact info -->
                      <ul class="info-list info_on_right_side fright">
                        <li>
                          <span
                            >Address:
                            <strong
                              >333 Fremont Street, <br />San Fransisco,
                              California,94105
                            </strong></span
                          >
                        </li>
                      </ul>
                      <!-- contact info close -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="main-header-bottom">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="header-mainnav">
                    <div class="search-cart-box fright">
                      <div class="h-cart-btn fright">
                        <a href="{% url 'signup' %}" class="btn"> Get Started</a>
                      </div>
                    </div>
                    <div id="site-navigation" class="main-navigation fleft">
                      <ul id="primary-menu" class="menu">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li><a href="{% url 'how-it-works' %}">How It Works</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                      </ul>
                    </div>
                    <!-- #site-navigation -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Main header close -->
        <div class="header_mobile">
          <div class="mlogo_wrapper clearfix">
            <div class="mobile_logo">
              <a href="#"
                ><img src="{% static 'images/logo-white.svg' %}" alt="Consultax"
              /></a>
            </div>
            <div id="mmenu_toggle">
              <button></button>
            </div>
          </div>
          <div class="mmenu_wrapper">
            <div class="mobile_nav collapse">
              <ul id="menu-main-menu" class="mobile_mainmenu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <!-- <li><a href="services.html">Services</a></li> -->
                <li><a href="{% url 'how-it-works' %}">How It Works</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'login' %}" class="btn">Get started</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <!-- #site-header -->

      <div id="content" class="site-content">
        <div class="page-header">
          <div class="container">
            <div class="breadc-box no-line">
              <div class="row">
                <div class="col-md-6">
                  <h1 class="page-title">FAQs</h1>
                </div>
                <div class="col-md-6 mobile-left text-right">
                  <ul id="breadcrumbs" class="breadcrumbs none-style">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="active">FAQs</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="entry-content">
          <div class="container">
            <div class="project-filter" data-column="2">
              <div id="filters" class="cat-filter">
                <!-- <a href="#" data-filter="*" class="filter-item all-cat selected"
                  >All</a
                > -->
                <a href="#" data-filter=".general" class="filter-item "
                  >General</a
                >
                <a href="#" data-filter=".registeration" class="filter-item"
                  >Registeration</a
                >
                <a
                  href="#"
                  data-filter=".account"
                  class="filter-item"
                  >Account</a
                >
                <a href="#" data-filter=".investment" class="filter-item"
                  >Investment</a
                >
              </div>
              <div id="projects" class="project-grid projects row">
                <div class="project-item general col-md-12 col-sm-6" style="position: none;">
                  <div class="inner">
                    <div class="p-info">
                      <h4>General</h4>
                      <br>
                          <div >
                            <button class="accordion">which type of people who can take part in your investment program?</button>
                            <div class="panel">
                              <p>Our program doesn’t impose any limitations on anyone or companies. You can join our program from all over the world. You have to create an account with us and start using our investment tools. We welcome investments from both corporations and individuals from across the globe. What you just have to do is to abide by our terms of service.</p>
                            </div>
                      
                            <button class="accordion">I am experiencing some problem while using the platform. How can I get help?</button>
                            <div class="panel">
                              <p>Send us a message using the contact form and we'll get in touch as soon as possible.</p> <br>
                            </div>

                            <button class="accordion">What are the payment options available?</button>
                            <div class="panel">
                              <p>We accept investments in Cryptos like BTC, ETH, LTC etc.</p> <br>
                            </div>

                            <button class="accordion">Do I have to pay for your services?</button>
                            <div class="panel">
                              <p>Our services are free</p> <br>
                            </div>
                      
                            <button class="accordion">Do you have protection against DDoS attacks?</button>
                            <div class="panel">
                              <p>Yes. We offer powerful 100% protection from any form of DDoS attacks with an uptime of 100% guaranteed.</p> <br>
                            </div>

                            <button class="accordion">Can changes in Bitcoin market price have an impact on my investment?</button>
                            <div class="panel">
                              <p>No. It will not affect your investment in any way. We convert all investments in Bitcoin to USD in real time and vice versa.</p> <br>
                            </div>

                            <button class="accordion">If my question is not captured in the FAQs section, what is the available option?</button>
                            <div class="panel">
                              <p>You can get in touch with our customer system by phone or email for further assistance.</p> <br>
                            </div>

                          </div>
                        </div>
                        </div>
                    </div>

                    <div class="project-item registeration col-md-12 col-sm-6" style="position: none;">
                      <div class="inner">
                        <div class="p-info">
                          <h4>Registeration</h4>
                          <br>
                              <div >
                                <button class="accordion">How is registration done?</button>
                                <div class="panel">
                                  <p>On the website, click on get started and fill the signup form provided. Then you can go ahead and lgin to your dashboard. Please note that a confirmation email will be sent to you to verify your account.</p>
                                </div>
                          
                                <button class="accordion">If I don’t get an account activation email. What is the else can I do?</button>
                                <div class="panel">
                                  <p>Make sure to check your spam folder or send the verification again.</p> <br>
                                </div>
    
                                <button class="accordion">What is the maximum number of account I can have?</button>
                                <div class="panel">
                                  <p>Only one account is allowed per email.</p> <br>
                                </div>
    
                                <button class="accordion">I don’t remember my password or password; how can I get them?</button>
                                <div class="panel">
                                  <p>On the log in page, we have forgotten password tab that you can use to reset your password through a link that will be sent to your email.</p> <br>
                                </div>
                          
                                <button class="accordion">how can I secure my account?</button>
                                <div class="panel">
                                  <p>By using a strong password and keeping your details confidential.</p> <br>
                                </div>
    
                                <button class="accordion">How safe is my Information?</button>
                                <div class="panel">
                                  <p>With SSL Certifications installed, your Information is saved in an encrypted format.</p> <br>
                                </div>
    
                              </div>
                            </div>
                            </div>
                        </div>

                        <div class="project-item account col-md-12 col-sm-6" style="position: none;">
                          <div class="inner">
                            <div class="p-info">
                              <h4>Account</h4>
                              <br>
                                  <div >
                                    <button class="accordion">Having trouble in logging to my account, want can I do?</button>
                                    <div class="panel">
                                      <p>Contact suppot with the problem you're facing.</p>
                                    </div>
                              
                                    <button class="accordion">My account has been hacked. What can I do?</button>
                                    <div class="panel">
                                      <p>COntact support immediately if you've been logged out, we'll require a valid means of identification to verify you're the rightful owner.</p> <br>
                                    </div>
        
                                    <button class="accordion">Is it possible to change my email address?</button>
                                    <div class="panel">
                                      <p>Yes, but at the moment, you'll need to contact support to give a reason why becasue we assign only one email to a user</p> <br>
                                    </div>
        
                                    <button class="accordion">What will happen to my account if I don’t make any deposit?</button>
                                    <div class="panel">
                                      <p>Your account will remain inactive until investment is made.</p> <br>
                                    </div>
                              
                                    <button class="accordion">How can I make my deposit?</button>
                                    <div class="panel">
                                      <p>On your dashboard, you can select a package and purchase the plan directly by sending the funds to your dedicated crypto wallet and wait to get confirmed in less than 1 hour.</p> <br>
                                    </div>
        
                                    <button class="accordion">Any fee changed in making deposits?</button>
                                    <div class="panel">
                                      <p>You won’t be charged when making deposits</p> <br>
                                    </div>
        
                                    <button class="accordion">How can I know my investment history?</button>
                                    <div class="panel">
                                      <p>On your account dashboard, you will be able to see your investment and transaction history.</p> <br>
                                    </div>

                                  </div>
                                </div>
                                </div>
                            </div>

                            <div class="project-item investment col-md-12 col-sm-6" style="position: none;">
                              <div class="inner">
                                <div class="p-info">
                                  <h4>Investment</h4>
                                  <br>
                                      <div >
                                        <button class="accordion">How does one make a deposit?</button>
                                        <div class="panel">
                                          <p>Log into your account and on the deposit button, select your payment method and complete the transaction.</p>
                                        </div>
                                  
                                        <button class="accordion">The best method to make deposits?</button>
                                        <div class="panel">
                                          <p>The best way to pay is via BTC</p> <br>
                                        </div>
            
                                        <button class="accordion">How much can one deposit, the maximum and minimum amount?</button>
                                        <div class="panel">
                                          <p>You can deposit $20 upwards with as $20 as the minimum with no maximum.</p> <br>
                                        </div>
            
                                        <button class="accordion">Any charges when making deposits?</button>
                                        <div class="panel">
                                          <p>No fee is charged.</p> <br>
                                        </div>
                                  
                                        <button class="accordion">How long can I take to top up my account?</button>
                                        <div class="panel">
                                          <p>It should be instant, but it depends on the payment method that one chooses, it could take up to an hour</p> <br>
                                        </div>
            
                                        <button class="accordion">Is it possible to make several deposits?</button>
                                        <div class="panel">
                                          <p>Yes, you can make as many deposits as you want</p> <br>
                                        </div>
            
                                        <button class="accordion">When will my profits accrue?</button>
                                        <div class="panel">
                                          <p>on a daily Basis</p> <br>
                                        </div>

                                        <button class="accordion">Finished making a deposit but my account doesn’t show any balance, what can I do?</button>
                                        <div class="panel">
                                          <p>Contact support immediately if the time exceedes 1 hour after deposit was made.</p> <br>
                                        </div>

                                        <button class="accordion">How long does the Cash out process take?</button>
                                        <div class="panel">
                                          <p>It is processed instantly or in less than 2hours</p> <br>
                                        </div>
    
                                      </div>
                                    </div>
                                    </div>
                                </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- #content -->

      <footer id="site-footer" class="site-footer bg-second">
        <div class="main-footer">
          <div class="container">
            <div class="row">
              <div class="col-md-5 col-sm-6">
                <div id="media_image-1" class="widget widget_media_image">
                  <a href="{% url 'home' %}"
                    ><img src="{% static 'images/logo-white.svg' %}" alt=""
                  /></a>
                </div>
                <div
                  id="custom_html-1"
                  class="widget_text widget widget_custom_html"
                >
                  <div class="textwidget custom-html-widget">
                    <p>
                      With over 1000+ investors, we are focused on creating the
                      best customer experiencewe and investment plans we can.
                    </p>

                    <p>
                      <a href="{% url 'about' %}" class="pagelink gray">About us</a>
                    </p>
                    
                  </div>
                </div>
              </div>
              <!-- end col-lg-3 -->

              <div class="col-md-4 col-sm-6">
                <section
                  id="custom_html-3"
                  class="widget_text widget widget_custom_html padding-left"
                >
                  <h4 class="widget-title">Company</h4>
                  <div class="textwidget custom-html-widget">
                    <ul class="padd-left">
                      <li><a href="{% url 'home' %}">Home</a></li>
                      <li><a href="{% url 'about' %}">About</a></li>
                      <li><a href="{% url 'how-it-works' %}">How it works</a></li>
                      <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                  </div>
                </section>
              </div>
              <!-- end col-lg-3 -->

              <div class="col-md-3 col-sm-6">
                <section
                  id="mc4wp_form_widget-1"
                  class="widget widget_mc4wp_form_widget"
                >
                  <h4 class="widget-title">Subscribe</h4>
                  <!-- Mailchimp for WordPress v4.5.2 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                  <form
                    id="mc4wp-form-1"
                    class="mc4wp-form mc4wp-form-1696"
                    method="post"
                    data-id="1696"
                    data-name="Consultax Subscribe"
                  >
                    {% csrf_token %}
                    <div class="mc4wp-form-fields">
                      <div class="footer-sub">
                        <input
                          type="text"
                          name="NAME"
                          placeholder="Name"
                          required=""
                        />
                        <input
                          type="email"
                          name="EMAIL"
                          placeholder="Email Address"
                          required=""
                        />
                        <input type="submit" class="btn" value="Subscribe" />
                      </div>
                    </div>
                    <input
                      type="hidden"
                      name="_mc4wp_timestamp"
                      value="1560227031"
                    />
                    <input type="hidden" name="_mc4wp_form_id" value="1696" />
                    <input
                      type="hidden"
                      name="_mc4wp_form_element_id"
                      value="mc4wp-form-1"
                    />
                    <div class="mc4wp-response"></div>
                  </form>
                  <!-- / Mailchimp for WordPress Plugin -->
                </section>
              </div>
              <!-- end col-lg-3 -->
            </div>
          </div>
        </div>
        <!-- .main-footer -->
        <div class="footer-bottom">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="footer-copyright">
                  © 2021 Aviatorbit. All Rights Reserved
                </div>
              </div>
              <div class="col-md-6">
                <div class="footer-nav text-right mobile-center">
                 <ul id="footer-menu" class="none-style">
                    <li><a href="{% url 'terms' %}">Terms and Conditions</a></li>
                    <li><a href="{% url 'faq' %}">FAQs</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- .copyright-footer -->
        <a id="back-to-top" href="#" class="show"></a>
      </footer>
      <!-- #site-footer -->
    </div>

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/countto.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.isotope.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/royal_preloader.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/header-footer.js' %}"></script>
    <script>
      var acc = document.getElementsByClassName("accordion");
      var i;
    
      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
          this.classList.toggle("active-a");
          var panel = this.nextElementSibling;
          if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
          } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
          }
        });
      }
    </script>
  </body>
</html>
