{% extends 'base.html' %}
{% load static %}


{% block content %}
<div id="content" class="site-content">
    <section
      id="section-slider"
      class="fullwidthbanner-container"
      aria-label="section-slider"
    >
      <div id="revolution-slider">
        <ul>
          <li
            data-transition="fade"
            data-slotamount="10"
            data-masterspeed="default"
            data-thumb=""
          >
            <!--  BACKGROUND IMAGE -->
            <img
              src="{% static 'images/hero-1.jpg' %}"
              alt=""
              data-bgposition="center center"
              data-bgfit="cover"
              data-bgrepeat="no-repeat"
              data-bgparallax="10"
            />
            <div
              class="tp-caption tp-resizeme"
              data-x="right"
              data-hoffset="['0']"
              data-y="bottom"
              data-voffset=""
              data-width="['auto','320','auto','320']"
              data-transform_idle="o:1;"
              data-transform_in="x:550px;opacity:0;s:800;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="1000"
              data-responsive_offset="on"
            >
              <img
                class="img-responsive md-hidden sm-hidden xs-hidden"
                src="{% static 'images/sub-hero-1.png' %}"
                alt="Image"
              />
            </div>
            <div
              class="tp-caption tp-resizeme font-second text-second bolder"
              data-x="['left']"
              data-hoffset="['0','15','15','15']"
              data-y="top"
              data-voffset="200"
              data-width="['580','580','480','320']"
              data-transform_idle="o:1;"
              data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="1500"
              data-whitespace="['nowrap','nowrap','nowrap','normal']"
              data-fontsize="['14','14','14','14']"
              data-responsive_offset="on"
            >
              <p>WE'RE AVIATORBIT</p>
            </div>
            <div
              class="tp-caption tp-resizeme font-second text-second bolder"
              data-x="['left']"
              data-hoffset="['0','15','15','15']"
              data-y="center"
              data-voffset="['-45','-45','-45','-45']"
              data-width="['670','580','480','320']"
              data-transform_idle="o:1;"
              data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="1700"
              data-whitespace="['normal']"
              data-fontsize="['50','50','40','30']"
              data-lineheight="['60','60','50','40']"
              data-responsive_offset="on"
            >
              <p>Become Financially Independent</p>
            </div>
            <div
              class="tp-caption tp-resizeme sh3"
              data-x="['left']"
              data-hoffset="['0','15','15','15']"
              data-y="center"
              data-voffset="['60','60','60','60']"
              data-width="['580','580','480','300']"
              data-transform_idle="o:1;"
              data-whitespace="['normal','normal','normal','normal']"
              data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="1900"
              data-fontsize="['16','16','14','12']"
              data-lineheight="['24','24','18','16']"
              data-responsive_offset="on"
            >
              <p>
                The move you're afraid to make could be the one that changes
                your life forever. Take the bold step and inest with us
                today.
              </p>
            </div>
            <div
              class="tp-caption"
              data-x="['left']"
              data-hoffset="['0','15','15','15']"
              data-y="bottom"
              data-voffset="['185','185','185','185']"
              data-transform_idle="o:1;"
              data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="2100"
            >
              <a class="btn" href="{% url 'signup' %}">GET STARTED</a>
            </div>
          </li>

          <li
            data-transition="fade"
            data-slotamount="10"
            data-masterspeed="default"
            data-thumb=""
          >
            <!--  BACKGROUND IMAGE -->
            <img
              src="{% static 'images/hero-2.jpeg' %}"
              alt=""
              data-bgposition="center center"
              data-bgfit="cover"
              data-bgrepeat="no-repeat"
              data-bgparallax="10"
            />
            <div
              class="tp-caption tp-resizeme"
              data-x="right"
              data-hoffset=""
              data-y="bottom"
              data-voffset=""
              data-width="['auto','380','auto','320']"
              data-transform_idle="o:1;"
              data-transform_in="x:550px;opacity:0;s:800;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="1000"
              data-responsive_offset="on"
            >
              <img
                class="img-responsive md-hidden sm-hidden xs-hidden"
                src="{% static 'images/sub-herp-2.png' %}"
                alt="Image"
              />
            </div>
            <div
              class="tp-caption tp-resizeme font-second text-second bolder"
              data-x="['left']"
              data-hoffset="['0','15','15','15']"
              data-y="top"
              data-voffset="200"
              data-width="['580','580','480','320']"
              data-transform_idle="o:1;"
              data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="1500"
              data-whitespace="['nowrap','nowrap','nowrap','normal']"
              data-fontsize="['14','14','14','14']"
              data-responsive_offset="on"
            >
              <p>WE'RE AVIATORBIT</p>
            </div>
            <div
              class="tp-caption tp-resizeme font-second text-second bolder"
              data-x="['left']"
              data-hoffset="['0','15','15','15']"
              data-y="center"
              data-voffset="['-45','-45','-45','-45']"
              data-width="['670','580','480','320']"
              data-transform_idle="o:1;"
              data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="1700"
              data-whitespace="['normal']"
              data-fontsize="['50','50','40','30']"
              data-lineheight="['60','60','50','40']"
              data-responsive_offset="on"
            >
              <p>Financed Focus Road To Success</p>
            </div>
            <div
              class="tp-caption tp-resizeme"
              data-x="['left']"
              data-hoffset="['0','15','15','15']"
              data-y="center"
              data-voffset="['60','60','60','60']"
              data-width="['580','580','480','300']"
              data-transform_idle="o:1;"
              data-whitespace="['normal','normal','normal','normal']"
              data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="1900"
              data-fontsize="['16','16','14','12']"
              data-lineheight="['24','24','18','16']"
              data-responsive_offset="on"
            >
              <p>
                We are dedicated to the success of our investors, that's why
                we trade confidently and earn in the forex market.
              </p>
            </div>
            <div
              class="tp-caption"
              data-x="['left']"
              data-hoffset="['0','15','15','15']"
              data-y="bottom"
              data-voffset="['185','185','185','185']"
              data-transform_idle="o:1;"
              data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="2100"
            >
              <a class="btn" href="{% url 'signup' %}">GET STARTED</a>
            </div>
          </li>

          <li
            data-transition="fade"
            data-slotamount="10"
            data-masterspeed="default"
            data-thumb=""
          >
            <!--  BACKGROUND IMAGE -->
            <img
              src="{% static 'images/her0-3.jpeg' %}"
              alt=""
              data-bgposition="center center"
              data-bgfit="cover"
              data-bgrepeat="no-repeat"
              data-bgparallax="10"
            />
            <div
              class="tp-caption tp-resizeme"
              data-x="right"
              data-hoffset=""
              data-y="bottom"
              data-voffset=""
              data-width="['auto','290','auto','320']"
              data-transform_idle="o:1;"
              data-transform_in="x:550px;opacity:0;s:800;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="1000"
              data-responsive_offset="on"
            >
              <img
                class="img-responsive md-hidden sm-hidden xs-hidden"
                src="{% static 'images/sub-hero-3.png' %}"
                alt="Image"
              />
            </div>
            <div
              class="tp-caption tp-resizeme font-second text-second bolder"
              data-x="['left']"
              data-hoffset="['0','15','15','15']"
              data-y="top"
              data-voffset="200"
              data-width="['580','580','480','320']"
              data-transform_idle="o:1;"
              data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="1500"
              data-whitespace="['nowrap','nowrap','nowrap','normal']"
              data-fontsize="['14','14','14','14']"
              data-responsive_offset="on"
            >
              <p style="color: white">WE'RE AVIATORBIT</p>
            </div>
            <div
              class="tp-caption tp-resizeme font-second text-second bolder"
              data-x="['left']"
              data-hoffset="['0','15','15','15']"
              data-y="center"
              data-voffset="['-45','-45','-45','-45']"
              data-width="['670','580','480','320']"
              data-transform_idle="o:1;"
              data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="1700"
              data-whitespace="['normal']"
              data-fontsize="['50','50','40','30']"
              data-lineheight="['60','60','50','40']"
              data-responsive_offset="on"
            >
              <p style="color: white">
                Invest and make your dreams come true.
              </p>
            </div>
            <div
              class="tp-caption tp-resizeme sh3"
              data-x="['left']"
              data-hoffset="['0','15','15','15']"
              data-y="center"
              data-voffset="['60','60','60','60']"
              data-width="['580','580','480','300']"
              data-transform_idle="o:1;"
              data-whitespace="['normal','normal','normal','normal']"
              data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="1900"
              data-fontsize="['16','16','14','12']"
              data-lineheight="['24','24','18','16']"
              data-responsive_offset="on"
            >
              <p style="color: white">
                We've integrated the best blockchain technology on our
                platform to help investors make payments with crypto.
              </p>
            </div>
            <div
              class="tp-caption"
              data-x="['left']"
              data-hoffset="['0','15','15','15']"
              data-y="bottom"
              data-voffset="['185','185','185','185']"
              data-transform_idle="o:1;"
              data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="2100"
            >
              <a class="btn" href="{% url 'signup' %}">GET STARTED</a>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section
      class="wpb_row row-fluid top-70 row-has-fill relative bg-light"
    >
      <div class="container">
        <div class="row">
          <div class="wpb_column column_container col-sm-12">
            <div class="column-inner">
              <div class="wpb_wrapper">
                <div class="empty_space_70 lg-hidden">
                  <span class="empty_space_inner"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="wpb_column column_container col-sm-6 col-md-3">
            <div class="column-inner">
              <div class="wpb_wrapper">
                <div class="service-box icon-box box-shadow-2 ionic">
                  <i
                    class="
                      ion-md-medal
                      ion-ios-medal
                      ion-logo-medal
                      ion-ios-medal
                    "
                  ></i>
                  <div class="content-box">
                    <h4>Quality Services</h4>
                    <p>We offer the best investment plans</p>
                  </div>
                </div>

                <div class="empty_space_30 lg-hidden">
                  <span class="empty_space_inner"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="wpb_column column_container col-sm-6 col-md-3">
            <div class="column-inner">
              <div class="wpb_wrapper">
                <div class="service-box icon-box box-shadow-2 ionic">
                  <i
                    class="
                      ion-md-bulb ion-ios-bulb ion-logo-bulb ion-ios-bulb
                    "
                  ></i>
                  <div class="content-box">
                    <h4>Best Returns</h4>
                    <p>
                      With our experience, your money will work for you.
                    </p>
                  </div>
                </div>

                <div class="empty_space_30 lg-hidden">
                  <span class="empty_space_inner"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="wpb_column column_container col-sm-6 col-md-3">
            <div class="column-inner">
              <div class="wpb_wrapper">
                <div class="service-box icon-box box-shadow-2 ionic">
                  <i
                    class="
                      ion-md-cash ion-ios-cash ion-logo-cash ion-ios-cash
                    "
                  ></i>
                  <div class="content-box">
                    <h4>Friendly Plans</h4>
                    <p>We have plans suitable for everyone everywhere.</p>
                  </div>
                </div>

                <div class="empty_space_30 lg-hidden">
                  <span class="empty_space_inner"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="wpb_column column_container col-sm-6 col-md-3">
            <div class="column-inner">
              <div class="wpb_wrapper">
                <div class="service-box icon-box box-shadow-2 ionic">
                  <i
                    class="
                      ion-md-headset
                      ion-ios-headset
                      ion-logo-headset
                      ion-ios-headset
                    "
                  ></i>
                  <div class="content-box">
                    <h4>Suport</h4>
                    <p>
                      Our support team will be there to help you when you're
                      stuck
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="
        wpb_row
        row-fluid
        section-padd
        row-has-fill row-o-equal-height row-o-content-middle row-flex
        bg-light
      "
    >
      <div class="container">
        <div class="row">
          <div class="wpb_column column_container col-sm-12">
            <div class="column-inner">
              <div class="wpb_wrapper">
                <div
                  class="
                    row
                    wpb_row
                    inner
                    row-fluid
                    row-o-equal-height
                    row-o-content-middle
                    row-flex
                  "
                >
                  <div
                    class="
                      wpb_column
                      column_container
                      trendingview-chart
                      res-m-bttm
                      col-sm-12 col-md-6 col-has-fill
                    "
                  >
                    <!-- TradingView Widget BEGIN -->
                    <script src="https://s3.tradingview.com/tv.js"></script>
                    <script>
                      new TradingView.widget({
                        autosize: true,
                        symbol: "NASDAQ:AAPL",
                        interval: "60",
                        timezone: "Etc/UTC",
                        theme: "Light",
                        style: "1",
                        locale: "en",
                        toolbar_bg: "#f1f3f6",
                        enable_publishing: false,
                        allow_symbol_change: true,
                        hideideas: true,
                      });
                    </script>
                    <!-- TradingView Widget END -->
                  </div>
                  <div
                    class="
                      bg-second
                      wpb_column
                      column_container
                      col-sm-12 col-md-6
                    "
                  >
                    <div class="column-inner">
                      <div class="wpb_wrapper">
                        <div class="empty_space_60 lg-hidden h60">
                          <span class="empty_space_inner"></span>
                        </div>

                        <div
                          class="section-head padding-box-2 text-light pd-5"
                        >
                          <h6><span>WHO WE ARE</span></h6>
                          <h2 class="section-title">
                            Our Mission,<br />Values and Motto
                          </h2>
                        </div>

                        <div
                          class="
                            wpb_text_column wpb_content_element
                            padding-box-2
                            text-light
                          "
                        >
                          <div class="wpb_wrapper">
                            <p>
                              We are dedicated to the success of our
                              investors thats why we provide a secure and
                              trusted investment platform with plans
                              suitable for everybody and no hidden charges.
                            </p>
                          </div>
                        </div>

                        <div
                          class="
                            wpb_text_column wpb_content_element
                            paddtop-75
                            padding-box-2
                            info-box
                            text-light
                          "
                        ></div>
                        <div class="empty_space_60 lg-hidden">
                          <span class="empty_space_inner"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="wpb_row row-fluid section-padd">
      <div class="container">
        <div class="row">
          <div class="wpb_column column_container col-sm-12 col-md-9">
            <div class="column-inner">
              <div class="wpb_wrapper">
                <div class="section-head">
                  <h2 class="section-title">OUR INVESTMENT PLANS</h2>
                </div>

                <div class="empty_space_30 md-hidden sm-hidden">
                  <span class="empty_space_inner"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="wpb_column column_container col-sm-6 col-md-4">
            <div class="column-inner">
              <div class="wpb_wrapper">
                <div class="service-box icon-box ionic hover-box">
                  <div class="col-xl-4 col-12">
                    <div class="content-box text-center">
                      <h4 class="text-uppercase">Starter Plan</h4>
                      <p class="text-white-50 mb-30">
                        Enjoy 20% ROI After 24 Hours
                      </p>
                      <p class="text-white-50 text-uppercase">
                        Minimum Deposit
                        <span style="color: #fa9602"><b> $250.00</b></span>
                      </p>
                      <p class="text-white-50 text-uppercase">
                        Maximum Deposit
                        <span style="color: #fa9602"><b>$500.00</b> </span>
                      </p>

                      <!-- row -->
                      <div class="mt-10">
                        <a href="{% url 'dashboard-plans' %}" class="btn btn-light">Buy Plan</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="empty_space_30">
                  <span class="empty_space_inner"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="wpb_column column_container col-sm-6 col-md-4">
            <div class="column-inner">
              <div class="wpb_wrapper">
                <div class="service-box icon-box ionic hover-box">
                  <div class="col-xl-4 col-12">
                    <div class="content-box text-center">
                      <h4 class="text-uppercase">Silver Plan</h4>
                      <p class="text-white-50 mb-30">
                        Enjoy 25% ROI After 24 Hours
                      </p>
                      <p class="text-white-50 text-uppercase">
                        Minimum Deposit
                        <span style="color: #fa9602"><b> $500.00</b></span>
                      </p>
                      <p class="text-white-50 text-uppercase">
                        Maximum Deposit
                        <span style="color: #fa9602"><b>$1,000.00</b> </span>
                      </p>

                      <!-- row -->
                      <div class="mt-10">
                        <a href="{% url 'dashboard-plans' %}" class="btn btn-light">Buy Plan</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="empty_space_30">
                  <span class="empty_space_inner"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="wpb_column column_container col-sm-6 col-md-4">
            <div class="column-inner">
              <div class="wpb_wrapper">
                <div class="service-box icon-box ionic hover-box">
                  <div class="col-xl-4 col-12">
                    <div class="content-box text-center">
                      <h4 class="text-uppercase">Gold Plan</h4>
                      <p class="text-white-50 mb-30">
                        Enjoy 30% ROI After 48 Hours
                      </p>
                      <p class="text-white-50 text-uppercase">
                        Minimum Deposit
                        <span style="color: #fa9602"
                          ><b> $1,000.00</b></span
                        >
                      </p>
                      <p class="text-white-50 text-uppercase">
                        Maximum Deposit
                        <span style="color: #fa9602"
                          ><b>$5,000.00</b>
                        </span>
                      </p>

                      <!-- row -->
                      <div class="mt-10">
                        <a href="{% url 'dashboard-plans' %}" class="btn btn-light">Buy Plan</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="empty_space_30">
                  <span class="empty_space_inner"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="wpb_column column_container col-sm-6 col-md-4">
            <div class="column-inner">
              <div class="wpb_wrapper">
                <div class="service-box icon-box ionic hover-box">
                  <div class="col-xl-4 col-12">
                    <div class="content-box text-center">
                      <h4 class="text-uppercase">Diamond Plan</h4>
                      <p class="text-white-50 mb-30">
                        Enjoy 40% ROI After 3 Days
                      </p>
                      <p class="text-white-50 text-uppercase">
                        Minimum Deposit
                        <span style="color: #fa9602"
                          ><b> $5,000.00</b></span
                        >
                      </p>
                      <p class="text-white-50 text-uppercase">
                        Maximum Deposit
                        <span style="color: #fa9602"
                          ><b>$20,000.00</b>
                        </span>
                      </p>

                      <!-- row -->
                      <div class="mt-10">
                        <a href="{% url 'dashboard-plans' %}" class="btn btn-light">Buy Plan</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="empty_space_30">
                  <span class="empty_space_inner"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="wpb_column column_container col-sm-6 col-md-4">
            <div class="column-inner">
              <div class="wpb_wrapper">
                <div class="service-box icon-box ionic hover-box">
                  <div class="col-xl-4 col-12">
                    <div class="content-box text-center">
                      <h4 class="text-uppercase">Platinum Plan</h4>
                      <p class="text-white-50 mb-30">
                        Enjoy 50% ROI After 3 Days
                      </p>
                      <p class="text-white-50 text-uppercase">
                        Minimum Deposit
                        <span style="color: #fa9602"
                          ><b> $20,000.00</b></span
                        >
                      </p>
                      <p class="text-white-50 text-uppercase">
                        Maximum Deposit
                        <span style="color: #fa9602"><b>$No Max</b> </span>
                      </p>

                      <!-- row -->
                      <div class="mt-10">
                        <a href="{% url 'dashboard-plans' %}" class="btn btn-light">Buy Plan</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="empty_space_30">
                  <span class="empty_space_inner"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script
          type="text/javascript"
          src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js"
          async
        >
          {
              "symbols": [{
                      "proName": "FOREXCOM:SPXUSD",
                      "title": "S&P 500"
                  },
                  {
                      "proName": "FOREXCOM:NSXUSD",
                      "title": "Nasdaq 100"
                  },
                  {
                      "proName": "FX_IDC:EURUSD",
                      "title": "EUR/USD"
                  },
                  {
                      "description": "AAPL",
                      "proName": "CURRENCYCOM:AAPL"
                  },
                  {
                      "description": "MSFT",
                      "proName": "CURRENCYCOM:MSFT"
                  }
              ],
              "colorTheme": "dark",
              "isTransparent": false,
              "locale": "en"
          }
        </script>
      </div>
      <!-- TradingView Widget END -->
    </section>
  </div>
  <!-- #content -->

</body>
{% endblock content %}

