{% extends 'base.html' %}
{% load static %}

{% block title %}How it works | Aviatorbit{% endblock title %}

{% block content %}
<div id="content" class="site-content">
        <div class="entry-content">
          <div class="container">
            <div class="boxed-content">
            
              <section class="wpb_row row-fluid radius-top row-has-fill quote-section">
                  <div class="container">
                      <div class="row">
                          <div class="wpb_column column_container col-sm-12">
                              <div class="column-inner">
                                  <div class="wpb_wrapper">
                                      <div class="wpb_text_column wpb_content_element text-light">
                                          <div class="wpb_wrapper">
                                              <h5 class="normal lh24"><em>“The goal as a company is to have customer service that is not just the best,<br> but legendary.” </em> <span class="text-primary bolder"> – Sam Walton</span></h5>
  
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>
  
              <section class="wpb_row row-fluid section-padd">
                  <div class="container">
                      <div class="row">
                          <div class="wpb_column column_container col-sm-12">
                              <div class="column-inner">
                                  <div class="wpb_wrapper">
                                      <div class="section-head ">
                                          <h6><span>How It Works</span></h6>
                                          <h2 class="section-title">How Aviatorbit Investment Works</h2>
                                      </div>
  
                                      <div class="row wpb_row inner row-fluid row-o-equal-height row-o-content-middle row-flex">
                                          <div class="wpb_column column_container col-sm-6 col-has-fill padd-box-30">
                                              <div class="column-inner">
                                                  <div class="wpb_wrapper">
                                                      <div class="wpb_text_column wpb_content_element">
                                                          <div class="wpb_wrapper">
                                                              <h4 class="green"><span>Step 1:</span><br>
                                      <span>Open A Free Account</span></h4>
                                                              <p>To sign up for a free account, simply click the get started button and fill out the corresponding form.</p>
  
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="wpb_column column_container step1-col col-sm-6 col-has-fill"></div>
                                          <div class="wpb_column column_container col-sm-12">
                                              <div class="column-inner">
                                                  <div class="wpb_wrapper">
                                                      <div class="empty_space_30 lg-hidden md-hidden"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row wpb_row inner row-fluid row-o-equal-height row-o-content-middle row-flex">
                                          <div class="wpb_column column_container step2-col col-sm-6 col-has-fill"></div>
                                          <div class="wpb_column column_container col-sm-6 col-has-fill padd-box-30">
                                              <div class="column-inner">
                                                  <div class="wpb_wrapper">
                                                      <div class="wpb_text_column wpb_content_element">
                                                          <div class="wpb_wrapper">
                                                              <h4 class="orange"><span >Step 2:</span><br>
                                      <span>Make A Deposit</span></h4>
                                                              <p>Review our investment plans and choose the one which fits your bugdet and profit which you want to have.</p>
  
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="wpb_column column_container col-sm-12">
                                              <div class="column-inner">
                                                  <div class="wpb_wrapper">
                                                      <div class="empty_space_30 lg-hidden md-hidden"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row wpb_row inner row-fluid row-o-equal-height row-o-content-middle row-flex">
                                          <div class="wpb_column column_container col-sm-6 col-has-fill padd-box-30">
                                              <div class="column-inner">
                                                  <div class="wpb_wrapper">
                                                      <div class="wpb_text_column wpb_content_element">
                                                          <div class="wpb_wrapper">
                                                              <h4 class="blue">Step 3:</span><br>
                                      <span>Watch Your Profit Grow</span></h4>
                                                              <p>Watch your earnings accrue according to the earning schedule of the plan that you have made deposit into.</p>
  
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="wpb_column column_container step3-col col-sm-6 col-has-fill"></div>
                                      </div>
                                      <div class="row wpb_row inner row-fluid row-o-equal-height row-o-content-middle row-flex">
                                        <div class="wpb_column column_container step4-col col-sm-6 col-has-fill"></div>
                                        <div class="wpb_column column_container col-sm-6 col-has-fill padd-box-30">
                                            <div class="column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element">
                                                        <div class="wpb_wrapper">
                                                            <h4 class="orange"><span >Step 4:</span><br>
                                    <span>Instant Payout</span></h4>
                                                            <p>The payout service is available to all customers, once payment request is initiated; withdrawal will pay instantly.</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpb_column column_container col-sm-12">
                                            <div class="column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="empty_space_30 lg-hidden md-hidden"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>
            </div>
            </div>
        </div>
      </div>

{% endblock content %}