﻿{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="{% static 'images/favicon.png' %}" />

    <title>My Deposit | Aviatorbit Dashboard</title>

    <!-- Bootstrap 4.0-->
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor_components/bootstrap/dist/css/bootstrap.css' %}"
    />

    <!-- Bootstrap extend-->
    <link rel="stylesheet" href="{% static 'css/bootstrap-extend.css' %}" />

    <!-- theme style -->
    <link rel="stylesheet" href="{% static 'css/master_style.css' %}" />

    <!-- Superieur Admin skins -->
    <link rel="stylesheet" href="{% static 'css/skins/_all-skins.css' %}" />

    <!--amcharts -->
    <link
      href="https://www.amcharts.com/lib/3/plugins/export/export.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- daterange picker -->
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor_components/bootstrap-daterangepicker/daterangepicker.css' %}"
    />
  </head>

  <body class="hold-transition skin-info-light sidebar-mini">
    <div class="wrapper">
      <header class="main-header">
        <!-- Logo -->
        <a href="dashboard-home.html" class="logo">
          <!-- mini logo -->
          <div class="logo-mini">
            <span class="light-logo"
              ><img src="{% static 'images/favicon.png' %}" alt="logo"
            /></span>
            <span class="dark-logo"
              ><img src="{% static 'images/favicon.png' %}" alt="logo"
            /></span>
          </div>
          <!-- logo-->
          <div class="logo-lg">
            <span class="light-logo"
              ><img src="{% static 'images/logo.png' %}" alt="logo"
            /></span>
            <span class="dark-logo"
              ><img src="{% static 'images/logo.png' %}" alt="logo"
            /></span>
          </div>
        </a>
        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top">
          <!-- Sidebar toggle button-->
          <div>
            <a
              href="#"
              class="sidebar-toggle"
              data-toggle="push-menu"
              role="button"
            >
              <span class="sr-only">Toggle navigation</span>
            </a>
          </div>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- User Account-->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Hello, {{ user.email }}
                  <img
                    src="{% static 'images/avatar/7.jpg' %}"
                    class="user-image rounded-circle"
                    alt="User Image"
                  />
                </a>
                <!-- <ul class="dropdown-menu animated flipInY mr-15">
                   Menu Body 
                  <li class="user-body">
                    <a class="dropdown-item" href="{% url 'user-profile' %}"
                      ><i class="ion ion-person"></i> My Profile</a
                    >
                    <a class="dropdown-item" href="{% url 'dashboard-my-deposits' %}"
                      ><i class="ion ion-bag"></i> My Deposits</a
                    >
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}"
                      ><i class="ion-log-out"></i> Logout</a
                    >
                  </li>
                </ul> -->
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar bg-white">
        <!-- sidebar-->
        <section class="sidebar pt-30">
          <!-- sidebar menu-->
          <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview">
              <a href="#">
                <i class="mdi mdi-view-dashboard"></i>
                <span>Dashboard</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li>
                  <a href="{% url 'dashboard-home' %}"
                    ><i class="mdi mdi-toggle-switch-off"></i>Overview</a
                  >
                </li>
              </ul>
            </li>

            <li class="treeview active">
              <a href="#">
                <i class="mdi mdi-send"></i>
                <span>Transactions</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li class="active">
                  <a href="{% url 'dashboard-my-deposits' %}"
                    ><i class="mdi mdi-toggle-switch-off"></i>My Deposits</a
                  >
                </li>
                <li>
                  <a href="{% url 'dashboard-withdraw' %}"
                    ><i class="mdi mdi-toggle-switch-off"></i>My Withdrawals</a
                  >
                </li>
              </ul>
            </li>

            <li class="treeview">
              <a href="#">
                <i class="mdi mdi-chart-bar"></i>
                <span>Investment </span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li>
                  <a href="{% url 'dashboard-plans' %}"
                    ><i class="mdi mdi-toggle-switch-off"></i>Buy Packages
                  </a>
                </li>
                <li>
                  <a href="{% url 'dashboard-myplans' %}"
                    ><i class="mdi mdi-toggle-switch-off"></i>My Packages
                  </a>
                </li>
              </ul>
            </li>

            <li class="treeview">
              <a href="#">
                <i class="mdi mdi-help-circle"></i>
                <span>Support </span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li>
                  <a href="{% url 'dashboard-help' %}"
                    ><i class="mdi mdi-toggle-switch-off"></i>Help
                  </a>
                </li>
              </ul>
            </li>

            <li>
              <a href="{% url 'logout' %}">
                <i class="mdi mdi-directions"></i>
                <span>Log Out</span>
              </a>
            </li>
          </ul>
        </section>
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="d-flex align-items-center">
            <div class="mr-auto w-p50">
              <h3>My Deposits</h3>
            </div>
            <div class="right-title w-170">
              <a href="{% url 'dashboard-plans' %}" class="btn btn-info">Quick Invest</a>
            </div>
          </div>
        </div>

        <!-- Main content -->
        <section class="content">
          <!-- TradingView Widget BEGIN -->
          <div class="box">
            <div class="tradingview-widget-container">
              <div class="tradingview-widget-container__widget"></div>

              <script
                type="text/javascript"
                src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
                async
              >
                {
                  "symbols": [{
                      "title": "EUR/USD",
                      "proName": "FX_IDC:EURUSD"
                    },
                    {
                      "title": "BTC/USD",
                      "proName": "BITSTAMP:BTCUSD"
                    },
                    {
                      "title": "ETH/USD",
                      "proName": "BITSTAMP:ETHUSD"
                    },
                    {
                      "description": "LTC/USD",
                      "proName": "KRAKEN:LTCUSD"
                    },
                    {
                      "description": "DOGE/USD",
                      "proName": "BITTREX:DOGEUSD"
                    },
                    {
                      "description": "BCH/USD",
                      "proName": "KRAKEN:BCHUSD"
                    }
                  ],
                  "colorTheme": "light",
                  "isTransparent": false,
                  "displayMode": "compact",
                  "locale": "en"
                }
              </script>
            </div>
          </div>
          <!-- latest transactions  -->

          <div class="p-5">
            <h4 class="text-center">
              To Deposit, select a package
              <a href="{% url 'dashboard-plans' %}" class="text-blue">here</a> and fund it.
            </h4>
          </div>
          <div class="box">
            <div class="box-header with-border">
              <h4 class="box-title">All Deposits</h4>
              <ul class="box-controls pull-right">
                <li><a class="box-btn-slide" href="#"></a></li>
                <li><a class="box-btn-fullscreen" href="#"></a></li>
              </ul>
            </div>
            <div class="box-body">
              <div class="table-responsive">
                <table class="table table-bordered no-margin">
                  <thead>
                    <tr class="bg-pale-dark">
                      <th>ID</th>
                      <th>Amount</th>
                      <th>Payment Mode</th>
                      <th>Status</th>
                      <th>Date</th>
                      <th>Time</th>
                    </tr>
                  </thead>
                  {% for deposits in object_list %}
                  <tbody>
                  
                    <tr>
                      
                      <td>
                        <a href="#" class="text-yellow hover-warning">
                          #{{deposits.id}}
                        </a>
                      </td>
                      <td>{{deposits.amount}}</td>
                      <td>{{deposits.payment_method}}</td>
                      <td>
                        <span class="label label-success{{deposits.get_label_display}}">{{deposits.status}}</span>
                      </td>
                      <td>{{deposits.date}}</td>
                      <td>
                        <time class="timeago">{{deposits.time}}</time>
                      </td>
                     
                    </tr>
                    
                  </tbody>
                  {% empty %}
                    <div class="box">
                      <div class="box-body">
                        <div class="my-2">
                          <div class="font-size-20 pb-10" style="margin-left: 300px;">You have not made any deposits.</div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                </table>
                
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="pull-right d-none d-sm-inline-block">
          <ul
            class="
              nav nav-primary nav-dotted nav-dot-separated
              justify-content-center justify-content-md-end
            "
          ></ul>
        </div>
        &copy; 2021 Aviatorbit. All Rights Reserved.
      </footer>
    </div>
    <!-- ./wrapper -->

    <!-- jQuery 3 -->
    <script src="{% static 'assets/vendor_components/jquery-3.3.1/jquery-3.3.1.js' %}"></script>

    <!-- popper -->
    <script src="{% static 'assets/vendor_components/popper/dist/popper.min.js' %}"></script>

    <!-- date-range-picker -->
    <script src="{% static 'assets/vendor_components/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'assets/vendor_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

    <!-- Bootstrap 4.0-->
    <script src="{% static 'assets/vendor_components/bootstrap/dist/js/bootstrap.js' %}"></script>

    <!--amcharts charts -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

    <!-- Slimscroll -->
    <script src="{% static 'assets/vendor_components/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

    <!-- echarts -->
    <script src="{% static 'assets/vendor_components/echarts/dist/echarts-en.min.js' %}"></script>
    <script src="{% static 'assets/vendor_components/echarts/echarts-liquidfill.min.js' %}"></script>

    <!-- FastClick -->
    <script src="{% static 'assets/vendor_components/fastclick/lib/fastclick.js' %}"></script>

    <!-- webticker -->
    <script src="{% static 'assets/vendor_components/Web-Ticker-master/jquery.webticker.min.js' %}"></script>

    <!-- Superieur Admin App -->
    <script src="{% static 'js/template.js' %}"></script>

    <!-- Superieur Admin dashboard demo (This is only for demo purposes) -->
    <script src="{% static 'js/pages/dashboard3.js' %}"></script>
    <script src="{% static 'js/pages/dashboard-chart.js' %}"></script>

    <!-- Superieur Admin for demo purposes -->
    <script src="{% static 'js/demo.js' %}"></script>
  </body>
</html>
