{% extends 'base.html' %}
{% load static %}

{% block content %}
 <div id="content" class="site-content">
        <section class="wpb_row row-fluid section-padd">
          <div class="container">
            <div class="row">
              <div class="wpb_column column_container col-sm-12">
                <div class="column-inner">
                  <div class="wpb_wrapper">
                    <div class="section-head">
                      <h6><span>Terms of Use</span></h6>
                      <p>
                        This agreement is written to govern the terms of usage
                        of this site, between ‘the User” and Aviatorbit.com. The
                        User is bound to abiding by the conditions and the terms
                        listed below. Particularly, those terms that apply to
                        Aviatorbit.com third payment system as well as any other
                        services offered on Aviatorbit.com.
                      </p>
                      <h2 class="section-title">REGULATIONS</h2>
                    </div>

                    <div class="wpb_text_column wpb_content_element">
                      <div class="wpb_wrapper">
                        <p>
                          Without permission, bitarrivals.com reserves its
                          rights to change this Agreement by making updates to
                          the terms and conditions. Any upcoming changes will be
                          posted via the User’s account on their notification
                          page. Changes posted will be effective after 30 days
                          of the original posting date, unless noted otherwise.
                          To maintain access to bitarrivals.com, the user will
                          abide by any updates from future changes.
                        </p>
                        <div class="empty_space_30"></div>
                      </div>
                    </div>

                    <div class="wpb_text_column wpb_content_element">
                      <div class="wpb_wrapper">
                        <h2 class="section-title">GENERAL PROVISIONS</h2>
                        <p>
                          <ol>
                            <li>In strict compliance to these provisions, bitarrivals.com (bitarrivals.com) will take on the responsibility of providing the aforementioned services to its investors.</li>
                            <li>Upon agreeing to these written terms and conditions of bitarrivals.com, user access is granted to the site.
                              To abide by all of the internal rules, the user has to be knowledgeable of their obligations and responsibilities to the company. These obligations are stated in the provisions provided below.</li>
                              <li>In case of violations by the user, particularly one paragraph of these provisions, the company disclaims any and all liability to the user.</li>
                              <li>At any time, without any update of notice, bitarrivals.com reserves the right to publish updates.</li>
                              <li>The user acknowledges, in advance, that any operations performed on this site is done at their own risk unless provided in any related company documents or specified in the above provisions. Additionally, previous performance on the site does not guarantee the same performance in future activities. The company also has the right to utilize the user’s voluntary funds for consultation purposes and will have control over the time frame in which the funds will be used.</li>
                          </ol>
                        </p>
                        <div class="empty_space_30"></div>
                      </div>
                    </div>

                    <div class="wpb_text_column wpb_content_element">
                      <div class="wpb_wrapper">
                        <h2 class="section-title">PARTIES OF THE AGREEMENT</h2>
                        <p>
                          <ol>
                            <li>bitarrivals.com (presently called the performer), under this agreement, will provide users specified services, which includes major investment funds of the company in the area of money management consulting.</li>
                            <li>After the user opens up a service account with bitarrivals.com, they will automatically become a party of this agreement and also adhere to follow the aforementioned provisions.</li>
                              <li> To open up a service account, the user must be at least 18 years of age or meet the legal age requirements in their own country.</li>
                              <li>Company is not liable for unreliable, inaccurate or incomplete information provided by the Internet user. Particularly, in the cases where financial transactions made are improper.</li>
                              <li>The user is forbidden to use the company services for any illegal purposes including money acquiring illegal income and money laundering.</li>
                              <li>To improve the quality of the company’s services offered, the user will agree to all correspondences and communications being recorded.</li>
                              <li>Under the conditions of protecting privacy, the Company will comply with not releasing any of the user’s personal data.</li>
                          </ol>
                        </p>
                        <div class="empty_space_30"></div>
                      </div>
                    </div>

                    
                    <div class="wpb_text_column wpb_content_element">
                      <div class="wpb_wrapper">
                        <h2 class="section-title">ACCOUNT USE REGULATIONS</h2>
                        <p>
                          <ol>
                            <li>To prevent the Internet user from creating the illusion of partnership with the company for affiliate reward purposes, the Company reserves the right of determining how many accounts can be registered under the same name.</li>
                            <li>The rights to use an account is not transferrable so reassignment is prohibited.</li>
                              <li>All users are pre-warned that password access or any other user account information will not be granted to any member of the administration or its specialists.</li>
                              <li>Without prior notice to the company’s administration, the user has the right to modify their personal data and payment information. In order to prevent fraudulent activities, however, in situations where payment details have changed, the company and their admin reserves the right to withhold user payment for a period of no longer than 3 days.</li>
                              <li>In cases where the account password has been lost, the user can request the password for free and it will be sent by email.</li>
                              <li>In order to eliminate problems with hackers, the user must adhere to utilizing computer protection software (i.e. firewall protection and antivirus applications).</li>
                              <li>The user will not be provided with the capability to delete his or her account.</li>
                          </ol>
                        </p>
                        <div class="empty_space_30"></div>
                      </div>
                    </div>

                    <div class="wpb_text_column wpb_content_element">
                      <div class="wpb_wrapper">
                        <h2 class="section-title">INVESTMENT TERMS AND CONDITIONS</h2>
                        <p>
                          <ol>
                            <li>The investment plan that the user chooses to participate in will determine all earnings accurate base.</li>
                            <li>All users will receive their percentage of profit on a timely basis (i.e. every hour, seven days a week, which includes both Saturday and Sunday).</li>
                              <li>Profit can be withdrawn by the user via his or her Bitcoin wallet.</li>
                              <li>After a withdrawal profit request has been received and approved by the company, the transactions are processed instantly.</li>
                              <li>In case transactions from the user's wallet occurs, the company is not liable for either deposit or withdrawal operations.</li>
                          </ol>
                        </p>
                        <div class="empty_space_30"></div>
                      </div>
                    </div>

                    <div class="wpb_text_column wpb_content_element">
                      <div class="wpb_wrapper">
                        <h2 class="section-title">PROVISION FOR COOPERATION WITH COMPANY PARTNERS</h2>
                        <p>
                          <ol>
                            <li> To generate Internet users to become members, the company operates an affiliate program that is called Global partnership.</li>
                            <li>This affiliate program is based on a third level tier and the guidelines provided for the user below. <br>
                              First level - partners of this program can make up to 3 percent of each deposit that is made by the attracted investor First level inventors receive .50 percent from 2nd level investors deposits <br>Second and first level inventors receive .50 percent from 3rd level investors deposits <br>
                              9% commission is given to authorized representatives that participate in higher max affiliate level</li>
                              <li>Partners who participate in bitarrivals.com’s global partnership program are paid through the company’s advertising budget.</li>
                              <li>Once the referred user has made their deposit, partners are paid instantly.</li>
                              <li>Rewards paid to partners can be withdrawn or utilized to create a deposit.</li>
                              <li>Partnership in the Global Partnership is open to everyone. Becoming an active partner has been made easy since all the new partner needs to do is to use the referral link that is available to each individual.</li>
                              <li>To increase the percentage of the reward, active partners should contact the admin in the company to request exclusive conditions of cooperation.</li>
                              <li>All active partners must adhere to these provisions, company rules, and any related anti-spam policies.</li>
                              <li>To facilitate and promote active enrollment, users are free to market this promotion with the company’s promotional materials posted on the site (i.e. banners).</li>
                          </ol>
                        </p>
                        <div class="empty_space_30"></div>
                      </div>
                    </div>

                    <div class="wpb_text_column wpb_content_element">
                      <div class="wpb_wrapper">
                        <h2 class="section-title">FORCE MAJOR CIRCUMSTANCES</h2>
                        <p>
                          <ol>
                            <li>In the case of a natural disaster (i.e. wars, man-made disasters, earthquakes, revolutions, epidemics, global economic crisis, strikes), the company reserves the right to stop its operations and any associated obligations. If the site is suspended due to any of these natural disasters, the company will notify the users of such. The company is not liable for any activity beyond its control including, fraudulent activity or illegal hacking of the user’s account.</li>
                            <li>Users participation is completely at their own risks. Similar to any other local bank or financial institution, investments have their own inherent risks and advantages. On this site, the user will be investing in a Bitcoin which is a virtual currency does not require paying tax penalties. The user can remain anonymous with their investments and expected to receive higher returns when compared to the traditional financial institutions. Therefore, any and all risks are the complete responsibility of the users that join as a member.</li>
                          </ol>
                        </p>
                        <div class="empty_space_30"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- #content -->
{% endblock content %}